.slider-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.car-img img,
.car-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #000;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
