.form-container {
  background: rgba(11, 128, 196, 0.9);
  border-radius: 16px;
  padding: 24px;
  width: 320px;
  color: white;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
   border: 1px solid #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
@media screen and (min-width: 800px) {
  .form-container {
  background: rgba(11, 128, 196, 0.9);
  border-radius: 16px;
  padding: 24px;
  width: 420px;
  padding: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
   border: 1px solid #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: auto;
}
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
 
}
.contact-form button{
    width: 200px;
    align-self: center;
}
.contact-form label {
  font-size: 12px;
  font-weight: 450;
}

.contact-form label span {
  color: #ff6b6b;
}

.contact-form input,
.contact-form select {
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  outline: none;
  background-color: #eaf6ff;
  color: #333;
}

.phone-input {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #eaf6ff;
  border-radius: 8px;
  padding: 6px 10px;
}

.flag-box {
  font-size: 20px;
}

.phone-input input {
  border: none;
  outline: none;
  flex: 1;
  background: transparent;
  font-size: 14px;
  color: #333;
}

.contact-form button {
  background-color: #004e7c;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background-color: #0066a0;
}
.error-message {
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-weight: 500;
}

.phone-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.flag-box {
  background-color: #f3f3f3;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 18px;
}

.contact-form input,
.contact-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.contact-form button {
  background-color: #2b8fff;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  background-color: #1572d6;
  transform: translateY(-2px);
}
